<footer class="p-4 mt-5" style="background-color: #0d47a1;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 p-2">
                <img src="/img/navLogo.png" height="45" width="75" loading="lazy" alt="logo">
                <h4 class="text-white">Chris Taylor</h4>
                <p class="text-white">
                    Local painter and home renovator for the Chicago area. Hired contractor and well-known
                    community member, I make the work seem effortless. Hire me for your next project or
                    your renovation needs.
                </p>
            </div>
            <div class="col-md-2 text-center p-2">
                <h4 class="text-white">Directory</h4>
                <a href="/" class="text-white nav-link">
                    Home
                </a>
                <a href="/about" class="text-white nav-link">
                    About
                </a>
                <a href="/contact" class="text-white nav-link">
                    Contact
                </a>
            </div>
            <div class="col-md-2 text-center p-2">
                <h4 class="text-white">Other</h4>
                <a href="" class="text-white nav-link">
                    Support
                </a>
                <a href="" class="text-white nav-link">
                    Articles
                </a>
                <a href="" class="text-white nav-link">
                    Accounts
                </a>
            </div>
        </div>
    </div>
</footer>