<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title><%= locals.title || "Chris Taylor Renovations" %></title>
    <meta property="og:locale" content="en_GB" />
    <meta property="og:title" content="Metal-Weld Specilaties" />
    <meta property="og:description" content="Fabricating & Erecting for America's most recognized corporations since 1961." />
    <meta property="og:url" content="https://metal-weld-specialties.herokuapp.com/open-graph-meta-tags/" />
    <meta property="og:image" content="/img/navLogo.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:type" content="article" />
    <meta name="description" content="Metal-Weld Specialties - Our experience surpasses our competition for over 60 years.">
    <meta name="keywords" content="welding, fabricating, custom, new work, rework">
    <meta name="author" content="Metal-Weld Specialties">
    <meta name="linkedin:Metal Weld Specialist" content="Metal Fabrication & Welding">
    <meta name="linkedin:Metal Welding" content="Fabricating & Erecting for America's most recognized corporations since 1961.">
    <meta name="linkedin:url" content="https://www.linkedin.com/company/metal-weld-specialties-inc-/about/">
    <meta name="linkedin:card" content="Metal Fabrication">
    <!-- MDB icon -->
    <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Google Fonts Roboto -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="/css/mdb.lite.min.css">
    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" href="/css/style.css">
</head>