<div class="row">
    <div class="col-md-4 p-2">
        <h1 class="display-4">About My Work</h1>
    </div>
    <div class="col-md-8 p-2">
        <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cumque eligendi eos facilis, impedit in laboriosam laborum molestias mollitia nostrum obcaecati odio omnis perferendis perspiciatis quam quasi quia suscipit veniam!
        </p>
    </div>
</div>

<section style="margin-top: 90px;">
    <div class="row text-center">
        <div class="col-md-3 p-2">
            <img src="https://media.istockphoto.com/id/1015387276/photo/man-in-a-working-overall.jpg?s=612x612&w=0&k=20&c=SiHLfl9X0lkncWAqyi8llAAG_dg4vk6mFn8JzaatQfk="
                 loading="lazy"
                 class="img-thumbnail"
                 alt="img">
        </div>
        <div class="col-md-3 p-2">
            <img src="https://www.shutterstock.com/image-photo/red-colored-walls-new-painted-260nw-1292761696.jpg"
                 loading="lazy"
                 class="img-thumbnail"
                 alt="img">
        </div>
        <div class="col-md-3 p-2">
            <img src="https://www.shutterstock.com/image-photo/house-renovation-260nw-619000286.jpg"
                 loading="lazy"
                 class="img-thumbnail"
                 alt="img">
        </div>
        <div class="col-md-3 p-2">
            <img src="https://media.istockphoto.com/id/468842398/photo/painting-walls-of-an-empty-room.jpg?b=1&s=170667a&w=0&k=20&c=4OG8_kvCOy_B-JLtTHMmZoAwhq7P676YhwUWPaaUua4="
                 loading="lazy"
                 class="img-thumbnail"
                 alt="img">
        </div>
    </div>
</section>

<!--Section: Content-->
<section class="team-section text-center dark-grey-text" style="margin-top: 80px;">

    <!-- Section heading -->
    <h3 class="font-weight-bold mb-4 pb-2">Testimonials</h3>
    <!-- Section description -->
    <p class="text-center w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam
        eum porro a pariatur veniam.</p>

    <!--Grid row-->
    <div class="row text-center">

        <!--Grid column-->
        <div class="col-md-4 mb-4">

            <div class="testimonial">
                <!--Avatar-->
                <div class="avatar mx-auto">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg" class="rounded-circle z-depth-1 img-fluid">
                </div>
                <!--Content-->
                <h4 class="font-weight-bold dark-grey-text mt-4">Anna Deynah</h4>
                <h6 class="font-weight-bold blue-text my-3">Home Owner</h6>
                <p class="font-weight-normal dark-grey-text">
                    <i class="fas fa-quote-left pr-2"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
                    eos id officiis hic tenetur quae quaerat ad velit ab hic tenetur.</p>
                <!--Review-->
                <div class="orange-text">
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star-half-alt"> </i>
                </div>
            </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">

            <div class="testimonial">
                <!--Avatar-->
                <div class="avatar mx-auto">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg" class="rounded-circle z-depth-1 img-fluid">
                </div>
                <!--Content-->
                <h4 class="font-weight-bold dark-grey-text mt-4">John Doe</h4>
                <h6 class="font-weight-bold blue-text my-3">Home Owner</h6>
                <p class="font-weight-normal dark-grey-text">
                    <i class="fas fa-quote-left pr-2"></i>Ut enim ad minima veniam, quis nostrum exercitationem ullam
                    corporis suscipit laboriosam, nisi ut aliquid commodi.</p>
                <!--Review-->
                <div class="orange-text">
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                </div>
            </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">

            <div class="testimonial">
                <!--Avatar-->
                <div class="avatar mx-auto">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded-circle z-depth-1 img-fluid">
                </div>
                <!--Content-->
                <h4 class="font-weight-bold dark-grey-text mt-4">Maria Kate</h4>
                <h6 class="font-weight-bold blue-text my-3">Small Business</h6>
                <p class="font-weight-normal dark-grey-text">
                    <i class="fas fa-quote-left pr-2"></i>At vero eos et accusamus et iusto odio dignissimos ducimus qui
                    blanditiis praesentium voluptatum deleniti atque corrupti.</p>
                <!--Review-->
                <div class="orange-text">
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="far fa-star"> </i>
                </div>
            </div>

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--Section: Content-->