<div class="view">
    <img src="https://www.colortrendsco.com/wp-content/uploads/professional-painter-painting-interior.jpg"
         class="img-fluid h-100" alt="img">
    <div class="mask flex-center rgba-black-light h-100">
        <div class="container">
            <div style="height: 100vh">
                <div class="flex-center text-white flex-column">
                    <h1 class="display-">Chris Taylor's</h1>
                    <h2 class="spread">Designs & Renovations</h2>
                    <a href="#" class="btn blue-gradient rounded-pill">Gallery</a>
                </div>
            </div>
        </div>
    </div>
</div>