<section itemprop="features" itemscope>
    <div class="container text-center my-5 py-3">
        <h2 class="mb-1 display-4">Our Renovation At Work</h2>
        <p class="mb-3 lead">
            Making the homes come and the former styles go.
        </p>
        <div class="row text-center">
            <div class="col-md-3 p-3 zoom" itemid="home renovation">
                <a href="#">
                    <img src="https://www.firstplacehousepainting.com/wp-content/uploads/2020/03/Professional-Painters-scaled.jpg"
                         class="img-fluid rounded shadow-lg"
                         loading="lazy"
                         alt="img">
                </a>
            </div>
            <div class="col-md-3 p-3 zoom" itemid="office renovation">
                <a href="#">
                    <img src="https://5.imimg.com/data5/SELLER/Default/2022/5/IS/WO/WK/23241173/building-painting-services-1000x1000.jpg"
                         class="img-fluid rounded shadow-lg"
                         loading="lazy"
                         alt="img">
                </a>
            </div>
            <div class="col-md-3 p-3 zoom" itemid="room renovation">
                <a href="#">
                    <img src="https://media.istockphoto.com/id/1198961704/photo/men-painting-empty-home-interior.jpg?b=1&s=170667a&w=0&k=20&c=_i1bSKT6VkpDHqj16oyHTapIrKyNC0G_c0waWbFTNBw="
                         class="img-fluid rounded shadow-lg"
                         loading="lazy"
                         alt="img">
                </a>
            </div>
            <div class="col-md-3 p-3 zoom" itemid="new home renovation">
                <a href="#">
                    <img src="https://5estimates.com/wp-content/uploads/2019/06/Painting-Contractors-Cost-1024x684.jpg"
                         class="img-fluid rounded shadow-lg"
                         loading="lazy"
                         alt="img">
                </a>
            </div>
        </div>
    </div>
</section>